---
import Base from '../layouts/Base.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Demo from '../components/Demo.astro';
import Proof from '../components/Proof.astro';
import Features from '../components/Features.astro';
import CtaEnd from '../components/CtaEnd.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Navbar />
  <main>
    <Hero />
    <Demo />
    <Proof />
    <Features />
    <CtaEnd />
  </main>
  <Footer />
</Base>
